/* Set fonts */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Courier Prime", monospace;
}

showcase-tile {
  display: flex;
  margin: 2em;
  justify-content: space-around;
  margin-top: 9em;
  margin-bottom: 16em;
}

showcase-image {
  display: flex;
  flex-direction: column;
  min-width: 60%;
}
showcase-image > art-tile {
  margin: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

showcase-image > img {
  margin-top: 2em;
}

showcase-description {
  margin-right: 10%;
  margin-left: 20px;
}

showcase-description-slider {
  position: sticky;
  top: 12.75em;
}

showcase-description > * > h2 {
  margin-top: 0px;
  line-height: 1em;
  font-weight: 400;
}

showcase-back-button {
  cursor: pointer;
  display: none;
  font-size: 0.9em;
  font-weight: 700;
  color: #808080;
  transition: all 0.25s;
  padding-top: 6em;
}

showcase-back-button:hover {
  color: black;
}

@media screen and (max-width: 1000px) {
  showcase-tile {
    margin-top: 4em;
    flex-direction: column-reverse;
  }

  showcase-description {
    margin-left: 0px;
    margin-right: 0px;
  }

  showcase-description > h2 {
    margin-top: 1.8em;
  }

  showcase-back-button {
    display: inline-block;
  }
}

art-title {
  font-family: "Archivo Black", sans-serif;
}

/* Component Styles */
body {
  margin: 0px;
  position: relative;
  min-height: 100vh;
  background: #fffffc;
}

a {
  color: black;
  text-decoration: none;
  margin: 0px;
}

.nav {
  position: fixed;
  top: 0px;
  width: calc(100% - 28px);
  background: #fffaf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaaaaa;
  padding-left: 14px;
  padding-right: 14px;
  z-index: 5;
}

.nav-title {
  display: inline-block;
}

.nav-title > a > img {
  max-height: 4em;
  margin: 4px;
  max-width: 80%;
}

.nav-links {
  display: inline-block;
  padding-top: 8px;
  font-size: 14;
}

.active-link {
  border-bottom: 1px solid;
  font-weight: 700;
}

header-spacer {
  display: block;
  padding-bottom: 60px;
}

/* don't display titles unless they are on the zoomed in element */
art-title,
art-publication {
  display: none;
}

art-tile[zoomedin] art-title,
art-tile[zoomedin] art-publication {
  display: block;
}

columns-container {
  display: grid;
  transition: 1s;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 2em;
}

tile-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  transition: all 1s;
}

/* main page */

art-tile {
  margin: 15px;
  cursor: pointer;
  transition: all 1s;
  position: relative;
}

art-tile > video,
art-tile > img {
  width: 100%;
  max-width: 100%;
  /* min-height: 500px; */
}

tile-column art-tile::before {
  content: "";
  color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 101%;
  width: 101%;
  background-color: rgb(255, 255, 252, 0);
  transition: all 0.2s;
}

tile-column art-tile:hover::before {
  background-color: rgba(255, 255, 252, 0.95);
}

tile-column art-tile::after {
  content: "";
  color: black;
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 50px;
  height: 100%;
  width: calc(100% - 100px);
  transition: all 0.2s;
  font-size: 1.15em;
}

tile-column art-tile:hover::after {
  content: attr(data-hover-title);
}

.img-placeholder {
  background: gray;
  width: 500px;
  height: 250px;
  max-width: 100%;
  margin-bottom: 4px;
}

art-title {
  margin: 6px 0px 4px 0px;
}

art-publication {
  font-size: 14px;
  font-style: italic;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2em;
}

/* about page */

video-container {
  flex: none;
}

about-block {
  margin-bottom: 80px;
}

about-content {
  display: flex;
  padding-top: 90px;
  margin: 20px auto;
  width: calc(100% - 30px);
  max-width: 1000px;
  flex-wrap: wrap;
}

video-container > video {
  width: 100%;
}
video-container {
  display: block;
  width: 100%;
}

about-description {
  flex: 1;
  display: block;
  padding-left: 0px;
}

about-extras {
  display: block;
  margin-top: 3em;
  margin-bottom: 3em;
}

about-get-in-touch,
about-clients,
about-press {
  border-top: 1px solid black;
  display: block;
  padding-bottom: 2em;
}

about-links {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

about-links > a > img {
  max-width: 2em;
  max-height: 2em;
  margin: 0.5em;
}

/* desktop mode */
@media screen and (min-width: 800px) {
  about-extras > *:first-child {
    margin-right: 15px;
  }
  about-extras > *:last-child {
    margin-left: 15px;
  }
  about-extras > * {
    margin: 0px 15px;
  }

  video-container {
    flex: 1 !important;
  }
  about-description {
    padding-left: 80px;
  }
  about-extras {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

footer {
  position: absolute;
  font-size: 14px;
  width: 100%;
  bottom: 4px;
  text-align: center;
}
