/* Set fonts */
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Archivo+Black&display=swap");

body {
  font-family: "Archivo", sans-serif;
}

showcase-tile {
  display: flex;
  margin: 2em;
  justify-content: space-around;
}
showcase-back-button {
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 700;
  color: #808080;
  transition: all 0.25s;
}
showcase-back-button:hover {
  color: black;
}

art-title {
  font-family: "Archivo Black", sans-serif;
}

/* Component Styles */
body {
  margin: 0px;
  position: relative;
  min-height: 100vh;
}

a {
  color: black;
  text-decoration: none;
  margin: 0px 4px;
}

.nav {
  position: fixed;
  top: 0px;
  width: calc(100% - 28px);
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  padding-left: 14px;
  padding-right: 14px;
  z-index: 5;
}

.nav-title {
  display: inline-block;
  font-size: 30;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-links {
  display: inline-block;
  padding-top: 8px;
  font-size: 14;
  text-transform: uppercase;
}

.active-link {
  border-bottom: 1px solid;
  font-weight: 700;
}

header-spacer {
  display: block;
  padding-bottom: 60px;
}

/* don't display titles unless they are on the zoomed in element */
art-title,
art-publication {
  display: none;
}

art-tile[zoomedin] art-title,
art-tile[zoomedin] art-publication {
  display: block;
}

columns-container {
  display: grid;
  transition: 1s;
}

tile-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  margin-bottom: 80px;
  transition: all 1s;
}

/* main page */

art-tile {
  margin: 10px;
  cursor: pointer;
  transition: all 1s;
  position: relative;
}

art-tile > video,
art-tile > img {
  max-width: 100%;
  max-height: 70vh;
}

tile-column art-tile::before {
  content: "";
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s;
}

tile-column art-tile:hover::before {
  background-color: rgba(0, 0, 0, 0.8);
}

tile-column art-tile::after {
  content: "";
  color: white;
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  top: 0px;
  left: 20px;
  height: 100%;
  width: calc(100% - 40px);
  transition: all 0.2s;
  font-size: 2em;
  font-weight: 700;
}

tile-column art-tile:hover::after {
  content: attr(data-hover-title);
}

.img-placeholder {
  background: gray;
  width: 500px;
  height: 250px;
  max-width: 100%;
  margin-bottom: 4px;
}

art-title {
  margin: 6px 0px 4px 0px;
}

art-publication {
  font-size: 14px;
  font-style: italic;
}

ul {
  list-style-type: none;
  padding: 0;
  line-height: 0.2em;
  margin-bottom: 2em;
}

/* about page */

@media screen and (min-width: 800px) {
  video-container {
    flex: 1 !important;
  }
}

video-container {
  flex: none;
}

about-block {
  margin-bottom: 80px;
}

about-content {
  display: flex;
  padding-top: 60px;
  margin: 20px auto;
  width: calc(100% - 80px);
  max-width: 1000px;
  flex-wrap: wrap;
}

video-container > video {
  width: 100%;
}
video-container {
  display: block;
  width: 100%;
}

about-description {
  flex: 1;
  display: block;
  padding-left: 20px;
  font-weight: 700;
}

footer {
  position: absolute;
  font-size: 14px;
  width: 100%;
  bottom: 4px;
  text-align: center;
}
