<gif-video id="" src="">
  <style>
    video {
      width: 100%;
    }
  </style>

  <video
    id="${'id'}"
    src="${'src'}"
    playsinline=""
    autoplay=""
    loop=""
    muted=""
  ></video>

  <script tl-effect>
    // prevent right click / dragging
    const videoElement = this.shadowRoot.querySelector("video");
    videoElement.addEventListener("contextmenu", (event) => {
      event.preventDefault();
    });
    videoElement.ondragstart = function () {
      return false;
    };
  </script>
</gif-video>
