<showcase-tile>
  <style>
    :host {
      container: showcase-tile / inline-size;
      display: flex;
      margin: 2em;
      justify-content: space-around;
      margin-top: 5em;
      margin-bottom: 16em;
    }

    /* if there is no image, set display to none */
    :host([art-title=""]) {
      display: none;
    }

    [art-description] {
      margin-top: 2em;
      line-height: 1.3em;
    }

    [art-publication] {
      margin-top: 2em;
    }

    showcase-image {
      display: flex;
      flex-direction: column;
      min-width: 60%;
    }

    ::slotted(art-tile) {
      margin: 0px;
      display: flex;
      justify-content: center;
      margin-top: 1.3em;
    }

    ::slotted(img),
    ::slotted(gif-video) {
      margin-top: 4em;
    }

    showcase-description {
      margin-right: 10%;
      margin-left: 20px;
    }

    showcase-description-slider {
      position: sticky;
      top: 10em;
    }

    h2 {
      line-height: 1em;
      font-weight: 400;
    }

    back-link {
      display: none;
    }

    p {
      word-wrap: break-word;
      overflow-wrap: break-word;
      hyphens: manual;
    }

    @media (width < 1000px) {
      :host {
        margin-top: 4em;
        flex-direction: column-reverse;
      }

      showcase-description {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 2em;
      }

      h2 {
        margin-top: 1.8em;
      }

      back-link {
        display: block;
      }
    }
  </style>
  <showcase-description>
    <showcase-description-slider>
      <h2>${'art-title'}</h2>
      <p art-description>${'art-description'}</p>
      <p art-publication>${'art-publication'}</p>
      <back-link></back-link>
    </showcase-description-slider>
  </showcase-description>
  <showcase-image>
    <slot></slot>
  </showcase-image>
</showcase-tile>
